// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=text] {
    width: 25%;
    padding: 12 px 12 px;
    border: 2px solid #ccc;
    background-color: #76e6ff;
}

textarea {
    width: 25%;
    height: 300px;
    padding: 12 px 12 px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: #76e6ff;
    resize: none;
}

input[type=button], [type=submit] {
    background-color: #4CAF50;
    border: none;
    color: #0023ff;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}
